@font-face {
  font-family: "ProximaNova400";
  font-weight: 400;
  font-style: normal;
  src: url("@/assets/fonts/proximanovaRegular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova700";
  font-weight: 700;
  font-style: normal;
  src: url("@/assets/fonts/proximanovaBold.otf");
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova800";
  font-weight: 800;
  font-style: normal;
  src: url("@/assets/fonts/proximanovaExtrabold.otf");
  font-display: swap;
}
@font-face {
  font-family: "ProximaNova900";
  font-weight: 900;
  font-style: normal;
  src: url("@/assets/fonts/proximanovaBlack.ttf");
  font-display: swap;
}
